# Created by https://www.toptal.com/developers/gitignore/api/python,dbt,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,dbt,visualstudiocode

### dbt ###
target/
dbt_modules/
dbt_packages/
logs/

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/python,dbt,visualstudiocode
